<div class="container">
  <div class="row">
    <div class="col-md-12">
      <strong><i>Directives</i></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="alert alert-info" *ngIf="isPara"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, quis? Reiciendis nihil nostrum aliquam pariatur eos atque tempora perspiciatis quis nobis accusantium. Optio, exercitationem sint cupiditate repellat minima at distinctio.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" class="btn btn-info" value="Okay" (click)="onOkay()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li *ngFor="let mb of mobs">{{mb}}</li>
      </ul>
    </div>
  </div>
</div>